<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Hello World Example</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>
<main role="main" class="container">
    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Hello, ' + ${name}"></span>
        </h2>
    </div>
    <div class="starter-template">
    <h1>이미지 목록</h1>
    <!-- 이미지 1 -->
        <img th:src="@{/images/car.jpg}" alt="car image">
	<!-- 이미지 2 여기에 삽입-->
        <img th:src="@{/images/dog.jpg}" alt="car image">
	<!-- 이미지 3 여기에 삽입-->
        <img th:src="@{/images/cat.jpg}" alt="car image">
    </div>
</main>
</body>
</html>